asgiref==3.8.1
attrs==24.2.0
colorama==0.4.6
defusedxml==0.7.1
Django==5.1.1
django-cors-headers==4.4.0
django-doc==1.1.0
django-docs==0.3.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-extra-fields==3.7.0
et-xmlfile==1.1.0
execnet==2.1.1
filetype==1.2.0
hypothesis==6.112.1
iniconfig==2.0.0
numpy==2.1.1
odfpy==1.4.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
pillow==11.0.0
pluggy==1.5.0
psycopg==3.2.3
PyJWT==2.9.0
pytest==8.3.3
pytest-xdist==3.6.1
python-calamine==0.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
pyxlsb==1.0.10
six==1.16.0
sortedcontainers==2.4.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
xlrd==2.0.1
XlsxWriter==3.2.0
