/* src/styles/HeroSection.css */
.hero-section {
    position: relative;
    text-align: center; /* Alinear texto al centro */
}

.hero-section img {
    object-fit: fill;
    object-position: left bottom;
    height: 650px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);
    margin: 1rem auto;
}

.hero-content {
    display: flex;
    flex-direction: column; /* Alinear imagen y texto verticalmente */
    align-items: center; /* Centrar el contenido horizontalmente */
}

.text-container {
    display: flex;
    gap: 3rem;
    flex-direction: row; /* Alinear el texto verticalmente */
    align-items: center; /* Alinear el texto a la izquierda */
    margin-top: 1rem; /* Espacio entre la imagen y el texto */
}

.hero-title {
    font-family: "Staccato 222";
    font-weight: 100;
    font-size: 3rem; /* Aumentar tamaño del título */
    color: var(--text-color);
    margin: 1rem 0; /* Espacio alrededor del título */
    transform: translateY(10px);
}

.hero-description {
    font-size: 1.2rem; /* Aumentar tamaño de la descripción */
    color: var(--text-color);
    margin-bottom: 2rem; /* Espacio antes de los botones */
}

.cta-buttons {
    display: flex;
    flex-wrap: wrap;

    gap: 1rem; /* Aumentar espacio entre botones */
}

.cta-button {
    height: 3rem;
    width: 13rem;
    padding: 0.8rem 1.5rem; /* Aumentar padding */
    background: linear-gradient(to bottom right, #5173b74f, #66c3eb69 50%, #95ca6f4e);
    border-radius: 4px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1rem; /* Aumentar tamaño de fuente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.cta-button.fade-in {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s forwards; /* Añadir animación */
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.cta-button:hover {
    transform: scale(1.05); /* Aumentar escala en hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .hero-section img {
        height: 250px;
    }

    .hero-title {
        font-size: 1.5rem; /* Ajustar título en móviles */
    }

    .hero-description {
        font-size: 1rem; /* Ajustar descripción en móviles */
    }

    .cta-button {
        font-size: 0.9rem; /* Ajustar tamaño de fuente en móviles */
        padding: 0.5rem 1.2rem; /* Ajustar padding en móviles */
    }
}
