.map-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.map-container {
  height: 100%; /* Permite que el mapa ocupe el 100% de la altura de su contenedor */
  width: 100%; /* Asegúrate de que el mapa ocupe todo el ancho */
  position: relative; /* Permite la superposición */
}
