/* Contenedor principal de las tarjetas en un grid 2x2 */
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas de igual ancho */
  gap: 20px; /* Espacio entre tarjetas */
}

/* Ajuste de la tarjeta */
.project-card {
  display: flex; 
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0.5rem auto;
  overflow: hidden;
  background: linear-gradient(to bottom right, #5173b706, #66c3eb18 50%, #95ca6f1d);

}

.project-date{
  padding: 5px;
  display: inline-block;
  text-align: center;
  background:var(--gradient);
  color: var(--text-color);
  border-radius: 4px;
  margin: 4px 0 0 4px ;
}    


/* Contenedor de la imagen, alineada a la izquierda */
.project-image-container {
  flex: 0 0 300px; /* La imagen ocupa 150px de ancho */
  overflow: hidden;
  border-right: 1px solid #ddd;

}

.project-image {
  object-fit: cover;
  border-radius: 10px;
  height: 500px;
  margin:0.3rem;
}

.project-details {
  flex: 1; 
  padding: 1rem;
  padding-bottom: 0;
  
}

.project-acron {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: var(--text-color);
}

.acron-underline {
  width: 50px;
  height: 3px;
  margin: 5px 0;
}

.project-title {
  font-size: 1rem;
  color: var(--text-color);
}

/* Descripción y jefe del proyecto */
.project-description {
  color: #555;
  font-size: 0.9rem;
}

.project-boss {
  font-size: 0.9rem;
  color: #777;
}

/* Responsive: En pantallas pequeñas, las tarjetas se apilan */
@media (max-width: 768px) {
  .project-grid {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }

  .project-card {
    flex-direction: column; /* Alinea verticalmente los elementos en móvil */
  }

  .project-image-container {
    width: 100%; /* Imagen ocupa todo el ancho */
    height: 200px; /* Ajuste para móviles */
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}
