
.featured-projects-featured {
    display: flex;
    flex-direction: row; /* Cambia a fila para colocar tarjetas lado a lado */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten en filas múltiples si hay más de dos */
    justify-content: center; /* Centra las tarjetas en el contenedor */
}

.project-card-featured {
    display: flex;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; 
    margin: 1rem;
    overflow: hidden;
    background: linear-gradient(to bottom right, #5173b70e, #66c3eb20 50%, #95ca6f3a);
    transition: transform 0.3s, box-shadow 0.3s;
}
.project-card-featured:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.project-image-featured {
    width: 300px; /* Ajusta el tamaño de la imagen */
    height: auto;
    object-fit: cover; /* Asegura que la imagen mantenga su aspecto */
}

.project-details-featured {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el texto verticalmente */
}

.project-details-featured h4,
.project-details-featured p {
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0.5rem 0; /* Espaciado entre los elementos de texto */
}
.project-details-featured h4{
border-bottom: 2px solid #4CAF50;
}
.projects-featured{
    color: var(--text-color);
}
/* Media queries para diseño responsivo en móviles */
@media (max-width: 768px) {
    .featured-projects-featured {
        display: flex;
        flex-direction: row; /* Cambia a fila para colocar tarjetas lado a lado */
        justify-content: center; /* Centra las tarjetas en el contenedor */
    }
    .project-image-featured {
        display: none;
    }
    .project-details-featured {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Centra el texto verticalmente */
    }
    .project-details-featured h4,
.project-details-featured p {
    font-size: 1.1rem;
}
}
