/* src/components/Footer.css */
.footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d2eeff;
}

.footer-social {
  display: flex;
  gap: 15px;
}

.footer-social img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.footer-social img:hover {
  transform: scale(1.1);
}

.footer-contact {
  font-size: 0.9rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer-social {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-contact {
    font-size: 0.8rem;
  }

  .footer-social img {
    width: 25px;
    height: 25px;
  }
}
