:root {
  --primary-color: #28a2a4;
  --secondary-color: #7bed8c;
  --text-color: #264653;
  --font-family: 'Roboto', sans-serif;
  --padding-standard: 16px;
  --margin-standard: 24px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
}
